body {
    margin: 0px;
}

nav {
    position: relative;
    background-color: #2f2f2f;
    padding : 20px 0px 20px 0px;
    max-height:70px;
    display: inline-block;
    width: 100%;
}

main {
    background-color: #2f2f2f;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.logo {
    max-height: 70px;
}

.right {
 float : right;
 margin-right: 50px;

 
}

select{
    padding: 20px;
    margin: 8px;
    background-color:#b52f18;
    color: white;
    border: none;
    border-radius: 10px
}

.submit {
    padding: 20px;
    margin: 10px;
    background-color: #7d0b0b;
    color: white;
    border: none;
    border-radius: 10px
}

.informations{
    background-image: url(img/abyss.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.finfo{
    height : 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.fstats{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.fcomments{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}